* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 2.5rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: #114b72;
    color: white;
    font-size: 2.2rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #0ba0b4;
}

a:hover {
    opacity: .85;
}